.product {
  border-radius: 30px;
  overflow: hidden;
  width: 209px;
  display: block;
  transition: 0.1s;
  border: 5px solid transparent;
  outline: none;
}

.product:hover {
  box-shadow: 4px 4px 11px 3px rgba(0, 0, 0, 0.31);
  /*border-color: #08c;*/
  cursor: pointer;
}

.media {
  height: 209px;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
}

.img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: white;
}

.product-data {
  padding: 15px;
  font-family: 'Noto Sans', sans-serif;
}

.product-name {
  color: #222;
  font-weight: bold;
  font-size: 14px;
}

.seller {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0,0,0,0.6);
}

.price {
  color: #08c;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
