.p-container {
  display: flex;
  justify-content: center;
  margin-top: 58px;
  width: 100%;
}
.product {
  overflow: hidden;
  display: block;
  transition: 0.5s;
  background-color: white;
  width: 100%;
}

.media {
  display: flex;
  justify-content: center;
  max-height: 700px;
  max-width: 100%;
  overflow: hidden;
  background-color: slategray;
}

.media:hover {
}

.img {
  height: 100%;
  width: 700px;
}

.product-data {
  padding: 15px;
  width: 800px;
  font-family: 'Noto Sans', sans-serif;
  margin: auto;
}

.product-name {
  color: #222;
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
}

.seller {
  font-size: 18px;
  margin-bottom: 10px;
  color: rgba(0,0,0,0.6);
}

.price {
  display: inline-block;
  font-size: 30px;
  color: #08c;
  float: right;
}

.description {
  font-size: 16px;
  padding: 15px 0;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0.027em;
  line-height: 1.5em;
}
